.row
  .eight.columns
    %table.eight
      %thead
        %tr
          %th
            Service Provider
          %th
            Authorization Link
      %tbody
        %tr
          %td
            Google Drive
          %td
            = link_to 'Authorize!', authorize_profile_path