.row
  .eight.columns
    %h2
      Your Profile
    %h3
      Coming soon!
    %p
      As part of your MyUSA Account, we're going to enable you to create a profile with basic, personal information that you can use to super-charge your interactions with government.  Filling out a form?  Use your MyUSA Profile to pre-fill basic fields.  Visiting a web site?  Grant access to your profile to personalize your experience and find what you're looking for faster.
    %p
      We want you to feel comfortable providing us with this information.  As such, we're working on ways to enable you to create a profile but not store it on our website.  We're cooking up the technology behind this, and should have something for you soon.  Watch your inbox for details.