%p
  Thank you for using MyUSA.  This email is to let you know that the account associated with this email address (#{@email}) was deleted.  All information associated with this account has been deleted from our system.  Your account can not be reinstated; if you'd like to use MyUSA again in the future, you will have to create a new account.  You can do so at https://my.usa.gov/sign_up.
%p
%p
  Thanks for using MyUSA!