%p
  Greetings!
%p
  Thanks for signing up to try out MyGov. We've been busy reimagining the relationship between the government and the people, and can't wait to show you what we've come up with.
%p
  Keep an eye out for the invite in the next few weeks. Until then, you can stay updated on Project MyGov via our #{ link_to 'blog', 'http://presidential-innovation-fellows.github.com/mygov'}, and join the conversation on #{ link_to 'Twitter', 'http://twitter.com/projectmygov' } and #{ link_to 'Facebook', 'http://bit.ly/MyGovFacebook'}. 
%p
  Cheers,
  %br
  The MyGov Team
  %br
  Phil, Ben, Danny, Kara & Greg