%p
  Welcome to MyGov, #{@user.name || @user.email}!
%p
  Congratulations!  Your MyGov account has been approved!
%p
  Follow this link to log in to your account: #{sign_in_url}
%p
  Thanks!
%p
  Team MyGov