%h3
  Task: #{@task.name}
%p
  Completed at: #{@task.completed_at.nil? ? "Not Completed" : @task.completed_at.to_s }
%ul
  - @task.task_items.each do |task_item|
    %li
      = link_to task_item.name, task_item.url, :target => "_blank"