.row
  .twelve.columns
    %h2
      More ways to sign in
    %p
      You can also use the following services to sign in to your MyUSA Account
.row
  .eight.columns
    .panel
      %li
        = link_to 'Sign in with MAX.gov', omniauth_authorize_path(resource_name, :maxgov)
