.row
  .twelve.columns
    %h2
      More ways to sign in
    %p
      You can also use the following services to sign in to your MyUSA Account
.row
  .eight.columns
    .panel
      - [:maxgov, :google].each do |provider|
        %li
          = link_to "Sign #{in_or_up} with #{provider == :maxgov ? 'MAX.gov' : provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
