%p
  - if @notification.user.first_name.blank?
    Hello:
  - else
    Hello, #{@notification.user.first_name}:

- if @notification.app.present?
  %p
    The "#{@notification.app.name}" MyUSA application has sent you the following message:
- else
  %p
    A notification for you from MyUSA:
    

%div{:style => 'margin-left: 5em;'}
  = raw @notification.body