.row
  .eight.columns
    %h2
      Authentication providers
    %p
      - if flash.notice
        .alert-box.blue
          = flash.notice
      = link_to 'Add an authentication provider to your account', new_authentication_path
    %table
      %tr
        %th
          Provider
        %th
          Actions
      - @authentications.each do |authentication|
        %tr
          %th
            = authentication.provider.titleize
          %th
            = link_to 'Delete', authentication_path(authentication), :method => :delete
