.row
	.eight.columns
		%h2
			Add a new authentication provider
		%p
			Are you a U.S. federal government employee?  Verify your employment status with MAX.gov.
			%ul
				%li
					= link_to 'Connect your MAX.gov account', user_omniauth_authorize_path(:provider => :maxgov)
		%p
			Do you already have an account with one of these sites?
			%ul
			- Devise.omniauth_providers.each do |provider|
				- unless [:maxgov].include?(provider)
					%li
						= link_to provider.to_s.titleize, user_omniauth_authorize_path(:provider => provider)