.row
	.eight.columns
		%h2
			Add a new authentication provider
		
.container
	.row
		.eight.columns
			.container
				.row
					.six.columns
						%p
							Do you already have an account with one of these sites?
					.six.columns
						.panel.side-panel
							%ul.button-list
								- Devise.omniauth_providers.each do |provider|
									- unless [:maxgov].include?(provider) or current_user.authentications.collect { |auth| auth.provider.to_sym }.include?(provider)
										%li
											= link_to provider.to_s.titleize, user_omniauth_authorize_path(:provider => provider, :error_return_to => authentications_url)