.row
  .eight.columns
    %h2
      Thank you.
    %p
      Your MyGov account has been deleted.
    %p
      We've sent you an email to confirm the account removal. Please consider signing up again soon.
    = link_to "Sign up", sign_up_path, :class => 'large positive button'