.row
  .eight.columns
    %h2
      Thank you.  Your account has been removed.
    %p
      We've sent you an email to confirm the account removal. Please consider signing up again soon.
    = link_to "Sign up", new_registration_path(:user), :class => 'large positive button'