.row
  .eight.columns
    %h2
      = t(:thank_you)
    %p
      = t(:account_deleted)
    %p
      = t(:account_deleted_email)
    = link_to t(:sign_up), sign_up_path, :class => 'large positive button'