.panel.tertiary.centered
  %ul.inline-list
    %li
      = link_to terms_of_service_path do
        %i{:class => "foundicon-page"}
        Terms of service
    %li
      = link_to privacy_policy_path do
        %i{:class => "foundicon-page"}
        Privacy policy
    %li
      = link_to pra_path do
        %i{:class => "foundicon-page"}
        Paperwork Reduction Act Statement
