.panel.group{"data-magellan-destination" => "profile"}
  %a{:name => "profile"}
  %h3
    %i{:class => "foundicon-people"}
    Profile
  %p
    Store your basic information, use it in MyUSA apps and forms.
  .row.news
    .eleven.columns
      = link_to 'View your profile', profile_path
