.panel.group{"data-magellan-destination" => "forms"}
  %a{:name => "forms"}
  %h3
    MyGov Forms
  %p
    We're proud to announce the next step in the MyGov platform. Think of MyGov forms as simple, streamlined online forms centered around citizen needs rather than government bureaucracy. Easy to fill in, easy for agencies to create. MyGov forms will help reduce the volume of paper forms in use by Government. 