.panel.group{"data-magellan-destination" => "apps"}
  %a{:name => "apps"}
  %h3
    %i{:class => "foundicon-website"}
    Apps
  %p
    Apps are services that use your MyUSA Account to make interacting with government easier.
  .row
    .eleven.columns
      %p
        Check out all available apps in the #{link_to 'App Gallery', apps_path}.
      %p
        Are you a developer? #{link_to 'Learn how to create your own MyUSA app', developer_path}.