%h3.ticker.news
  %i{:class => "foundicon-graph"}
  News    
.panel.group
  %h3
    %span
      What's Next:
    MyGov Apps
  %p
    We're proud to announce the next step in the MyGov platform. Think of MyGov apps as simple, streamlined online services centered around citizen needs rather than government bureaucracy. 
  %h4
    Here are some apps we're working on:
  .row.news
    .four.columns
      .panel.ideas
        %h5
          Change your name
        %p
          An application that simplifies the confusing process of changing your name.
    .four.columns
      .panel.ideas
        %h5
          Department of Education Grants
        %p
          Need to apply for education grants? No problem, we've got you covered.
    .four.columns
      .panel.ideas
        %h5
          Benefits
        %p
          See what benefits are available to you.