.panel.group{"data-magellan-destination" => "info"}
  %a{:name => "info"}
  %h3
    %i{:class => "foundicon-globe"}
    Info
  .row.group
    .six.columns
      .panel.decorative.style-four
        %i{:class => "foundicon-compass"}   
        %h4
          Introducing the Discovery Bar
        %p 
          %strong
            Find services and information relevant to you. 
          Install the Discovery Bar Chrome Extension, or Firefox plugin.
        %a.button.positive{:href => "/discovery/"} Learn more
