.panel.group{"data-magellan-destination" => "forms"}
  %a{:name => "forms"}
  %h3
    %i{:class => "foundicon-inbox"}
    Forms
  %p
    MyGov Forms will provide a simple, consistent forms experience for the public to transact with government, and allows agencies to quickly and easily create online forms to collect and securely store information they receive from the public.
  %p
    Agencies can access submitted forms via an API to integrate form submissions with their backend systems. Form definitions are available as well, enabling outside applications to create new and better experiences for people completing forms. Connected to a MyGov profile, large sections of online forms could in turn be auto completed, saving time and effort for all. 
  
  

  .row
    .twelve.columns
      %h4
        Potential uses for forms
    .four.columns
      .panel.ideas.small
        %h5
          Student Aid Forms
        %p
          Gone are the days of filling in your name and address over and over again.
        
    .four.columns
      .panel.ideas.small
        %h5
          Business Filings
        %p
          Starting a business is hard - filing out forms shouldn't be.
    
    .four.columns
      .panel.ideas.small
        %h5
          Veteran's Assistance
        %p
          Help fill out forms quickly and easily to get the benefits you need.
