.panel.group{"data-magellan-destination" => "notifications"}
  %a{:name => "notifications"}
  %h3
    %i{:class => "foundicon-website"}
    Notifications
  %p
    This is where you'll get notified about great and wonderful things

  = render "notifications/index_recent"
