.panel.task{"data-magellan-destination" => "tasks"}
  %a{:name => "tasks"}
  %span.bookmark
  - @uncompleted_tasks.each do |task|
    %div
      %h3
        = link_to task.name, task_path(task)
      - task.task_items.uncompleted.each do |task_item|
        %ol.inline
          %li.full
            = link_to task_item.name, task_item.url, :class => 'large button alternate task'
