.panel.group{"data-magellan-destination" => "tasks"}
  %a{:name => "tasks"}
  %h3
    %i{:class => "foundicon-checkmark"}
    Tasks
  %p
    Guides for getting stuff done with government.
  .row
    .eleven.columns
      - if @uncompleted_tasks.empty?
        %p    
          You currently have no tasks.
      - else      
        - @uncompleted_tasks.each do |task|
          %div
            %h4
              = link_to task.name, task_path(task)
  .row
    .eleven.columns
      = link_to 'View all tasks', "#"