%h5
  Dashboard

%ul.nav.nav-pills.nav-stacked
  %li
    %a.smoothScroll{:href => "#notifications"}
      Notifications

      - if @user.notifications.not_viewed.count > 0
        %span.badge
          = @user.notifications.not_viewed.count

  - if @uncompleted_tasks.any?
    %li
      %a.smoothScroll{:href => "#tasks"}
        Tasks

  %li
    %a.smoothScroll{:href => "#apps"}
      Apps
