.panel.group{"data-magellan-destination" => "apps"}
  %a{:name => "apps"}
  %h3
    %i{:class => "foundicon-website"}
    Apps
  %p
    Apps are services that use your MyUSA Account to make interacting with government easier.
  %h4
    Here are some apps we're working on:
  .row.news
    .four.columns
      .panel.ideas
        %h5
          = link_to 'Benefits', "https://apps.my.usa.gov/benefits.gov"
        %p
          See what government benefits are available to you.
    .four.columns
      .panel.ideas
        %p
          Check out all available apps in the #{link_to 'App Gallery', apps_path}.
        %p
          Are you a developer?
          %br
          #{link_to 'Learn how to create your own MyUSA app', developer_path}.