.panel.task.dashboard{"data-magellan-destination" => "tasks"} 
  %h3 
    %i{:class => "foundicon-checkmark"}
    Tasks
    %a{:name => "tasks"} 
  %span.bookmark
  - @uncompleted_tasks.each do |task|
    %div
      %h4
        = link_to task.name, task_path(task)
        