%div.group
  %ul.dashboard-navigation{"data-magellan-expedition" => ""}
  
    %li.first{"data-magellan-arrival" => "tasks"}
      %a.tasks{:href => ""}
        %i{:class => "foundicon-checkmark"}
        Tasks 
            
    %li{"data-magellan-arrival" => "info"}
      %a.info{:href => "#info"}
        %i{:class => "foundicon-globe"}   
        Info
        
    
    %li{"data-magellan-arrival" => "apps"}
      %a.apps{:href => "#apps"}
        %i{:class => "foundicon-website"}  
        Apps
         
       
    %li.last{"data-magellan-arrival" => "forms"}
      %a.forms{:href => "#forms"}
        %i{:class => "foundicon-inbox"} 
        Forms
          