.row
  %h1 Account Activity
.row
  .thirteen.columns.dashboard
    - unless @user.grouped_activity_logs.empty?
      - @user.grouped_activity_logs.each do |group|
        %h2
          = group.first
        %ul.activity_list
          - group.last.each do |item|
            %li.activity_item #{item}
    - else
      %p No activity to report.
