.row
  %h1 Account Activity
.row
  .thirteen.columns.dashboard
    - unless @activity_logs.empty?
      %ul.activity_list
        - @activity_logs.each do |item|
          %li.activity_item #{h item.app.name} #{h humanize_log_item(item)} #{activity_time(item.created_at)}
    - else
      %p No activity to report.
