.row
  %h2 Account Activity
.row
  .thirteen.columns.dashboard
    - unless @user.grouped_activity_logs.empty?
      - @user.grouped_activity_logs.each do |group|
        %h3
          = group.first
        %ul.activity_list
          - group.last.each do |item|
            %li.activity_item #{item}
    - else
      %p No activity to report.

    %p

    = link_to 'Back to Account Settings', account_index_path
