.row
  .ten.columns.centered
    .row.splash
      .ten.columns.centered
        .row.headline
          .twelve.columns.centered
            %h2
              Developers
            %p.tagline
              Help make this better.       
            
            %p
              MyUSA began its journey by setting out to improve the way citizens interact with government, but to continue, we need your help. The code is just the start. It is our hope that these MyUSA projects can serve as one example of a greater joint effort - citizens and government collaborating to improve our shared experience, and there are lots of ways to do just that.
            %p
              Virtually all of the functionality available via MyUSA is exposed in a machine readable format, and we encourage developers to build cool things using them. Already built something cool? (We'd love to hear about it).
            
            %h3
              MyUSA Discovery <abbr>API</abbr>
            %p
              The MyUSA Discovery <abbr>API</abbr> provides a service to discover related government content. Think of it as a folksonomy layered on top of the entire .gov footprint. Each page is assigned tags, which are used to find similarly tagged pages.
           
            %h3
              The code
            %p
              Project MyUSA is a series of open source projects and is supported by the efforts of an entire community. Whatever your level of skill or however much time you can spare, your contribution is greatly appreciated. As with all open source software, feel free to adapt the code for your own projects, but with this code especially, we encourage you to take a moment to get involved. 
            
          .six.columns
            .panel
              %h5
                Account
              
              %ul.plain-list
                %li 
                  %a{:href => "https://github.com/GSA-OCSIT/mygov-account"} <strong>MyUSA Account</strong> (source code)
          .six.columns
            .panel            
              %h5
                Forms
                    
              %ul.plain-list
                %li 
                  %a{:href => "https://github.com/GSA-OCSIT/mygov-forms"} <strong>MyUSA Forms</strong> (source code)
          
              
          .six.columns
            .panel
              %h5
                Discovery
              %ul.plain-list
                %li
                  %a{:href => "https://github.com/GSA-OCSIT/mygov-bar"} <strong>MyUSA Discovery Bar</strong> (source code)
                
                %li
                  %a{:href => "https://github.com/GSA-OCSIT/mygov-discovery"} <strong>Discovery API</strong>
            
          
            
          .six.columns
            .panel
              %h5
                Apps
              
              %ul.plain-list
                %li
                  %a{:href => "https://github.com/GSA-OCSIT/mygov-change-your-name"} <strong>Change your name</strong>  (source code)
                %li
                  %a{:href => "https://github.com/GSA-OCSIT/benefits-mockup"} <strong>Benefits Example App</strong>  (source code)
          
        .twelve.columns.clear
        
          %h3
            Other things we&rsquo;ve worked on
            
          %ul.plain-list
            %li
              %a{:href => "https://github.com/GSA-OCSIT/pdf-filler"} <abbr title="portable document format">PDF</abbr> Filler
            %li
              %a{:href => "https://github.com/GSA-OCSIT/mygov-mobile-first-foundation"} Mobile First Foundation

            
            %li
              %a{:href => "https://github.com/GSA-OCSIT/epa_uv_index"} <abbr title="environmental protection agency">EPA</abbr> UV Rest API

            
            %li
              %a{:href => "https://github.com/GSA-OCSIT/omniauth-mygov"} MyUSA OmniAuth Strategy

            
            %li
              %a{:href => "https://github.com/presidential-innovation-fellows/mygov"} MyUSA Blog

          %h3
            How to get involved
            
          %p
            MyUSA is an open source project and is supported by the efforts of an entire community. We&rsquo;d love for you to get involved! Whatever your level of skill or however much time you can give, your contribution is greatly appreciated.
            
          %ul
            %li
              %strong
                Everyone:
              Help other users by expanding documentation and answer questions, our join the discussion and [help shape the project&rsquo;s future](http://mygov.ideascale.com/)
            %li
              %strong
                Users:
              Download and kick the tires of the latest development version of the project and submit bug reports or feature requests. Each project should have installation instructions to get you started.
            %li
              %strong
                Internationalization:
              Contribute translations in other languages
            %li
              %strong
                Technical Folks:
              Fork the development versions and submit a pull request, especially for any known issues. For more information, see [how to submit a pull request]
          
            
      .row.clear
        .twelve.columns
          = render :partial => 'footer_links'
            

