.row.discovery

  .ten.columns.centered
    .row.splash
      .ten.columns.centered
        .row.headline
          .twelve.columns.centered
            %h2
              Discovery Bar
            %p.tagline
              Navigate Government
            .ten.columns.centered
              %img.centered{:alt => "discovery bar screenshot", :src => "/assets/discovery-bar.png"}/
              %p.feature
                When you visit a federal, state or local government website, the Discovery Bar appears as you scroll down a page, ready to help.
        .row
          .four.columns
            .panel.decorative.style-four
              %i.foundicon-compass
              %h4
                Connect with content
              %p
                The Discovery Bar serves up relevant content, tailored to your needs.
          .four.columns
            .panel.decorative.style-four
              %i.social.foundicon-thumb-up
              %h4
                Share your thoughts
              %p
                Help make government websites better.
          .four.columns
            .panel.decorative.style-four
              %i.foundicon-search
              %h4
                Search made easy
              %p
                Search quickly and easily for the most relevant information across all federal websites.
          .row.clear
            .twelve.columns
              %h3.feature.border-top
                Install the Discovery Bar

            .row.margin-bottom.group

              .six.columns.border-right
                %p.nine.columns.centered.feature
                  %b
                    Chrome users:
                  Download below, then select <em>Window</em>, then <em>Extensions</em>, and drag and drop the downloaded file on to the page.
                %p.centered.feature
                  = link_to 'Download the Chrome Extension', 'http://gsa-ocsit.github.com/mygov-bar/plugins/chrome.crx', :class => 'button positive'

              .six.columns

                %p.nine.columns.centered.feature
                  %b
                    Firefox users:
                  Download below, then select &lsquo;Allow&rsquo;, then wait for the file to download and select &lsquo;Install&rsquo;. Restart Firefox as instructed.
                %p.centered.feature
                  = link_to 'Install the Firefox Extension', 'http://gsa-ocsit.github.com/mygov-bar/plugins/firefox/mygovdiscoverybar.xpi', :class => 'button positive'


            .row.clear
              .ten.columns.centered
                %h4.feature
                  Developers
                %p
                  Have an idea for how to better navigate the federal web? Good news. The MyUSA Discovery API exposes all the functionality of the Discovery Bar in a machine-readable format. Find related content, provide feedback, and more. For more information, check out our <a href="http://discovery.my.usa.gov/">developer documentation</a>.

    .row
      .twelve.columns
        = render :partial => 'footer_links'