.logo
  %h1
    Project MyGov

.signup-form

  .row
    .six.columns.offset-by-three
      #signup-form
        %p
          We&rsquo;re getting ready to launch the MyGov private beta. Want to kick the tires? Give us your email address, and the second it&rsquo;s ready we&rsquo;ll let you know.
        #fieldset
          = form_for @beta_signup, :remote => true do |form|
            = form.label :email
            = form.email_field :email
            = form.submit 'Sign up', :class => 'large button positive ' 
