.row
  .three.columns.offset-by-four
    #signup-form
      #signup-header
        Well, hello there!
      #signup-body
        We're launching the MyGov private beta soon. Tell us your email address, and the second it's ready we'll let you kick the tires.
      = form_for @beta_signup, :remote => true do |form|
        = form.label :email
        = form.text_field :email
        = form.submit "Sign up"