%h2
  Thank you for signing up for MyGov!
%p
  Thank you so much for your interest in MyGov.  We can't wait to show you what we've been working on (we think you'll like it).  Right now, MyGov is in private beta, which means we're letting users in on a rolling basis.  We've got your account in our database, and will be approving accounts on a weekly basis.  Watch your email for when your account is activated (you may want to white-list no-reply@my.usa.gov so we don't end up in spam).
%p
  We really look forward to sharing MyGov with you.  In the mean time, check out the #{ link_to 'MyGov blog', 'http://presidential-innovation-fellows.github.com/mygov/'} for updates on what we're working on.  Thanks again!