.row
  .eight.columns
    %h2
      Settings
    %p
      %ul
        %li
          = link_to 'Authentication providers', authentications_path
        %li
          = link_to 'Change email address', edit_user_registration_path(@user.id)
      
