.row
  %h1 Account Activity
.row
  .thirteen.columns.dashboard
    - unless @activity_logs.empty?
      %ul.activity_list
      - @activity_logs.each do |item|
        %li #{h item.app.name} accessed humanize_log_item(item)
    - else
      %p No activity to report.
