.row
  .four.columns.centered
    = image_tag 'oregon_trail.jpg', :alt => 'General Custer'
    %h4
      We appreciate your adventures spirit, but you're in uncharted territory.  We simply cannot find the page you're looking for.  Head back to the trail before little Johnny dies of dysentery.