.row
  .six.columns.centered
    .panel.sidebar.decorative.style-one
      %div
        %span.leader.centered
          404 score and 7 years ago
        %p
          We appreciate your adventurous spirit, but you&rsquo;re in uncharted territory. We can&rsquo;t find the page you are looking for. Head back to the trail before it gets dark, and don&rsquo;t forget to pile on the blankets. It gets chilly out here on the internet.
        
        
        %img.framed{:alt => "on the trail", :src => "/assets/onthetrail.jpg"}/
        
        %p.source
          %a{:href => "http://memory.loc.gov/cgi-bin/query/h?ammem/aep:@field(NUMBER+@band(icuaep+ors50))"} American Environmental Photographs Collection, [AEP Image Number, e.g., AEP-MIN73], Department of Special Collections, University of Chicago Library.  
        
          