.row 
  .twelve.columns
    .panel
      %h3
        Change your name wants to:
      %ul.plain-list
        %li
          Read your profile information
        %li
          Create tasks in your account  
        %li
          Submit forms on your behalf  

          
      %form{"accept-charset" => "UTF-8", :action => "/oauth/allow", :method => "post"}
        %ol.inline
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "uI56UjwtjFIH2SxYui4SOohbkeY+oOLNHh4yARqbkv4="}/
          %input#response_type{:name => "response_type", :type => "hidden", :value => "code"}/
          %input#client_id{:name => "client_id", :type => "hidden", :value => "4mmtku2tr8i6duc2eoekgwsdx"}/
          %input#redirect_uri{:name => "redirect_uri", :type => "hidden", :value => "https://apps.my.usa.gov/change-your-name/auth/mygov/callback"}/
          %input#scope{:name => "scope", :type => "hidden", :value => "profile tasks submit_forms"}/
          %input#state{:name => "state", :type => "hidden", :value => "54c41cd95dd66d95d71ee8f45b0c4825ef4f0c57a168a07c"}/
          %input#user_id{:name => "user_id", :type => "hidden", :value => "90"}/
          
          %li
            %input#allow{:checked => "checked", :name => "allow", :type => "checkbox", :value => "1"}/
            %label.inline{:for => "allow"} Allow this application
          
            
    %input.inline.large.button.positive{:name => "commit", :type => "submit", :value => "Authorize"}/