.row
  .ten.columns.centered
    .panel.group
      .ten.columns
        %h3
          We're Sorry
        %p
          You are accessing an application that doesn't exist or hasn't given you sufficient access.