%table
  %tr
    %td
      = form.label :name, "Name"
    %td
      = form.text_field :name, :class => "text"
  %tr
    %td
      = form.label :redirect_uri, "Redirect URI"
    %td
      = form.text_field :redirect_uri, :class => "text"
