%div.panel.sidebar
  %h4
    Here's how this works:
  %ol
    %li
      We'll ask you a few questions about yourself (basic stuff).
    %li
      We'll prefill as much of the forms as we can to help you on your way.
    %li
      You'll have the option to save all of your tasks and info in a MyGov account so you can come back and finish later.
    %li
      (We won't share your info with anyone, scout's honor.)