.row
  .twelve.columns
    %h3
      MyUSA Applications  
    - @apps.each do |app|
      = render :partial => 'apps', :locals => { :app => app }
-  unless @sandbox_apps.empty?
  .row
    .twelve.columns
      %h3
        Your Applications  
      - @sandbox_apps.each do |app|
        = render :partial => 'apps', :locals => { :app => app }
  
