:javascript
  window.setTimeout(function() {
      window.location.href = '#{URI.escape @app.url}';
  }, 7000);
  
.row
  .eight.columns
    %h2
      You are leaving MyUSA
    %p
      In a few seconds, you will be redirected to #{link_to @app.url, @app.url}.
    %p
      Please note that this page is not a part of MyUSA.