.row
  .twelve.columns
    %h3
      Create a new MyUSA App
.row
  .eight.columns
    = form_for @app do |f|
      = render :partial => "form", :locals => {:f => f}
      = f.submit 'Create new MyUSA App', :class => 'button positive'
      = link_to 'Cancel', apps_path