.row-fluid
  .span12
    %legend
      Save your information
.row-fluid
  .span12
    %h4
      Introducing MyGov, your online guide to to navigating government
    %p
      Gone are the days of having to enter or re-enter your basic information like name and address every time you visit a government website or fill out a form.  With MyGov, your information is safe and secure.  Creating your account is easy, and only a few clicks away.  #{ link_to 'Learn more about our security and privacy >', "#" }
    %h4
      Sign in with:
    %p
      = link_to 'Google', user_omniauth_authorize_path(:google), :class => "btn"