%p
  We the people, in order to form a more perfect website have encountered an error on our end. Please try refreshing the page.
  
%div  
  = link_to 'Try Again', root_path,:class =>'large button positive'