.signup-form
  .row
    .six.columns.centered
      %h3
        Thanks for signing up to try out MyUSA. 
      %p
        We&rsquo;ve been busy reimagining the relationship between the government and the people, and can't wait to show you what we&rsquo;ve come up with.
      %p
        We're still in closed alpha mode, but you'll be among the first to hear from us when we open to the public. Until then, you can stay updated on Project MyUSA via our #{ link_to 'blog', 'http://bit.ly/MyUSA-blog'}, and join the conversation on #{ link_to 'Twitter', 'http://bit.ly/ProjectMyUSA-TW' } and #{ link_to 'Facebook', 'http://bit.ly/ProjectMyUSA-FB'}. 
      %p
        Regards,
        %br
        The MyUSA Team