/**
Global variables for USA.gov SCSS
 */

// Type
$base-font: 'Open Sans', Arial, sans-serif;
$headingFamily: 'Raleway', sans-serif;

// Colors
$base-blue: #38628a;
$maroon: #a95143;
$bgblue: #003368;
$charcoal: #343434;
$midgray: #7a7a7a;
$red: #9a3430;
$white: #fff;
$shieldTop: #1c6485;
$shieldBottom: #112136;
$buttonBlue: #336699;
$trueBlue: #0066cc;

// Size
$fontPlus: 1.2em;
$fontBig: 2.8em;
$fontHuge: 4em;