/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ./mff
 *= require_self
 *= require_tree .
 */

/*** Type ***/


html {height: 100%;}
body {height: 100%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background: #AEA888;}

#wrap {min-height: auto;}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  line-height: 1.5em;
  font-weight: bold; color: #0C2237;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}


@-moz-document url-prefix() {
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  padding: 0 .4em;
  height: 3em;
  }
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  border-color: #0C2237;
  background: #fff;
  background: rgba(19,100,135,.08);
}

body.sign-up input[type="email"]:focus {background: #fff;}

p a {text-decoration: underline;}

#header {
  background: #fff;
  padding: 0;
  border-bottom: 3px solid #911A1E;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  -o-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  -ms-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

#header h1 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -.05em;
  display: block;
  margin: 0;
  text-align: left;
  position: relative;
  line-height: 1em;
  padding: .65em 2em .5em 52px;
  background: #fff asset-url('logo.png', image) 29% 50% no-repeat;
}

@media only screen and (min-width: 350px) {
  #header h1 {text-align: left; background: #fff asset-url('logo.png', image) center left no-repeat; padding: .65em 2em .5em 52px;}
  background: #fff asset-url('logo-2x.png', image) center left no-repeat;
}

@media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  #header h1 {
    background: #fff asset-url('logo-2x.png', image) center left no-repeat;
    background-size: 55px;
  }
}

#header h1 span.personal-name {
  font-size: .56em;
  color: #911A1E;
  letter-spacing: .05em;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-family: 'GoudyBookLetter', Georgia, 'Times New Roman', serif;
}

#header h1 a {color: #0F2137;}
.banner h2 {text-align: center; padding: .5em 0;}
h3.tagline a { margin: 0.3em; }

@media only screen and (max-width: 420px) {.banner h2 {font-size: 1.75em; padding: .2em 0;}}

#header h1 span {font-weight: normal;}
#header h1 .beta {font-weight: normal; position: absolute; bottom: 1.4em; margin: 0 0 0 .15em; font-size: .5em; color: #888;}
#header h3.tagline {display: block; font-size: 1em; margin: 1em 0 .5em 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #1D6387; }
#header h3.tagline em {font-style: normal; font-weight: bold;}
#header h3.disclaimer {font-size: 1em; font-style: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #676767; text-align: right;}

@media only screen and (max-width: 420px) {
  #header h3.disclaimer {text-align: center; font-size: .8em;}
  #header h3.tagline {padding: 0 3%; }
  #header h3.tagline a {font-weight: bold;}
}

@media only screen and (max-width: 767px) {
  #header h3.tagline {
    font-size: .8em;
    display: block;
    float: right;
    width: 35%;
    min-width:200px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }
  #header h3.tagline em {display: block;}
}


table {width: 100%; margin-bottom: 2em;}
.row {border: none;}
p, ul, ol, legend, input[type="text"], input[type="email"], input[type="tel"] {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-shadow: 0 1px 0 rgba(255,255,255,.55);}
.centered {text-align: left;}
ul.centered {margin: 0 auto; text-align: center;}
ul.centered li {text-align: center;}


h1 {font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #112137; text-shadow: 0 1px 0 rgba(255,255,255,.9); font-weight: normal; margin-top: .5em;}

h2, h3, h4, h5, h6 {font-family: 'GoudyBookLetter', Georgia, 'Times New Roman', serif; font-weight: normal; text-shadow: 0 1px 0 rgba(255,255,255,.9);}
.dashboard h2 {text-shadow: 0 1px 0 rgba(255,255,255,.9); line-height: 1.1em;}

.panel h3 em {font-style: normal; color: #122137; }

h1:last-word {font-weight: bold;}

.actions {margin: 0 0 1em 0;}
p.disclaimer, p.supporting-text {font-size: .9em; display: block; padding: .2em 0 0 0; line-height: 1.2em;}

#wrap p.feature {margin-top: 1em;}
#wrap p.supporting-text {color: rgba(255,255,255,.7);}

img.icon {margin: 0; -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);}


fieldset {background: #fff; padding: 0 2% 1em 2%; margin: 0 0 2em 0; display: block; border: none;}
fieldset.plain {border: none; background: none; margin: .75em 0 2em 0; padding: 0;}
fieldset.fancy {margin: .5em 0 0 0; border: 1px dotted rgba(0,0,0,.2); padding-top: .5em;}
fieldset.fancy legend {color: #126386;text-align: center; font-size: 2em; }
fieldset.fancy legend i {color: #fff;font-size: .5em; vertical-align: baseline; color: #eee; }
#wrap fieldset.fancy span.welcome {font-size: 1em; display: block; margin: .2em 0 .2em 0; clear: both; padding: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: .5em; color: #777; line-height: 1.2em; }

fieldset.fancy span.welcome em {font-style: normal; font-weight: bold;
}

@media only screen and (max-width: 420px) {
  fieldset.fancy legend i {display: none;}
}

fieldset.fancy legend span {display: inline-block; margin: 0 .5em;}

.sign-up fieldset {margin: 0;}

.row fieldset.no-margin {margin: 0;}

fieldset legend {
  font-size: 1.85em;
  color: #102038;
  padding: .5em 0 .5em 0;
  display: inline-block;
  background: none;
  display: block;
  margin: 0;
  clear: both;
  font-weight: normal;
  background: inherit;
  float: left;
  font-family: 'GoudyBookLetter', Georgia, 'Times New Roman', serif;
  width: 100%;
}

fieldset label {font-weight: bold;}

.inline label {
  display: inline;
  padding: 1em 0;
}

.error label, label.error {
  color: #fff;
  background: #911A1D;
  padding: 1em;
  font-weight: bold;
}

.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  cursor: hand;
  color: #fff;
  display: inline-block;
}

a.button:visited {color: #fff;}

.button:hover, .button:active {
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,.5);
  -o-box-shadow: 0 0 6px rgba(0,0,0,.5);
  -ms-box-shadow: 0 0 6px rgba(0,0,0,.5);
  box-shadow: 0 0 6px rgba(0,0,0,.5);
  }

#wrap .button {padding: .35em 1em;}
#wrap .align-right a.button {margin: 0;}

#wrap .align-right a {text-decoration: none;}

.button.positive, a.button.positive {
  background: #112137;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.7);
  border: none;
  text-transform: none;
  letter-spacing: none;
  margin-right: 1em;
  border-style: solid;
  border-width: 12px;
  -moz-border-image: url(button-positive.png) 12 repeat;
  -webkit-border-image: url(button-positive.png) 12 repeat;
  -o-border-image: url(button-positive.png) 12 repeat;
  border-image: url(button-positive.png) 12 fill repeat;
}

#wrap .panel .button.positive, #wrap .panel a.button.positive {color: #fff;}

@media only screen and (max-width: 767px) {
  .button.positive, a.button.positive {margin-right: 0;}
}

html.no-borderimage #wrap .button.positive,
html.no-borderimage #wrap a.button.positive,
html.no-borderimage #wrap input.button.positive {

  border: 1px solid #eee;
  padding: 1em 2em;
  display: inline-block;
}


.button.success {background: #05723B;}
.button.success:hover { background-color: #05723B; }
.button.success:focus {background-color: #05723B;}

.button.alert {background: #911A1D;}
.button.alert:hover { background-color: #911A1D; }
.button.alert:focus {background-color: #911A1D;}

.button.transparent {
  background: transparent;
  border: none;
  border-top: none;
  -webkit-box-shadow: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button.alert:hover { text-decoration: none; }
.button:hover,
.button:active {
  background: #1A6485;
}

#wrap .button.negative {
  background: #CFA473;
  color: #333;
  border: none;
  text-transform: none;
  letter-spacing: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-style: solid;
  border-width: 11px;
  -moz-border-image: url(negative-button.png) 11 repeat;
  -webkit-border-image: url(negative-button.png) 11 repeat;
  -o-border-image: url(negative-button.png) 11 repeat;
  border-image: url(negative-button.png) 11 fill repeat;
}

#wrap .button.negative a {display: block;}

html.no-borderimage #wrap .button.negative {
  border: none;
  padding: 1em 2em;
  color: #fff;
}

#wrap .small.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  text-transform: none;
  background: #8A8E8D;
  background: rgba(0,0,0,.4);
  border-bottom: 1px solid rgba(255,255,255,.2);
  text-shadow: none;
  border: none;
  vertical-align: top;
  line-height: 1em;
  padding: .5em .5em .5em .5em;
  margin: 0 0 1em 0;
  font-weight: bold;
  font-size: 1em;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}

.small.button:hover, .small.button:active {color: #fff;}

#wrap .button.secondary {
  background: #777;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: .75em;
  font-size: .9em;
}

fieldset span {
  display: block;
  font-weight: normal;
  color: #444;
  font-size: .9em;
  padding: .3em 0;
}

form ol, fieldset ol {margin: 0 0 0 0; padding: 0;}

.required_explanation{
  color: #949494;
  font-weight: bold;
  font-style: italic;
}

fieldset li, form li {
  display: block;
  margin: 0 0 .55em 0;
  padding: 0 0 .2em 0;
  list-style: none;
  display: block;
}

fieldset li:last-child, form li:last-child {border-bottom: none;}

.panel {background: #fff; background: rgba(255,255,255,.65); padding: .75em 1em; line-height: 1.4em; border-bottom: 1px solid rgb a(255,255,255,.9);}
.panel li {line-height: 1.4em; margin: 0 0 1em 0; padding: 0;}
.listing ul, .listing ol, .sublist ul, .sublist ol {margin: 0 0 1em 0; display: block;}
.sublist .columns {padding-left: 0;}

#main .listing ul li {
  list-style: none;
  margin: 0;
  padding: .45em 0;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

#main .listing ul li:last-child {
  border-bottom: none;
}

ul.meta-list, ul.panel-list {margin: .5em 0 1.25em 0; padding: 1em 0 0 0; display: block;}
ul.meta-list {border-bottom: 2px dotted #ddd; color: #555;}
ul.meta-list li, ul.panel-list, ul.button-list {
   list-style: none;
   padding:0;
   line-height: 1em;
}

ul.plain-list {margin: .5em 0 2em 1.5em; font-size: 1em;}
ul.plain-list li {list-style: square;}

ul.panel-list li a {
  display: block;
  border-bottom: 1px solid #BEC0BE;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: .5em 0;
  margin: 0;
  vertical-align: top;
}

ul.panel-list li a:hover {text-decoration: none;}

ul.button-list {
  margin: 1em 0;
  padding: .5em 0;
}

ul.button-list a {
  display: block;
  background: #F8F7F7;
  background: rgba(255,255,255,.8);
  padding: .5em;
  text-align: center;
  color: #5A4A42;
  text-shadow: 0 1px 0 rgba(255,255,255,.9);
  border: 1px solid #ADAEAE;
  border: 1px solid rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2) inset;
  font-weight: normal;
}

.notification a, .notification a:visited {color: #136487; border-bottom: 1px solid #ccc;}

.side-panel {background: #DCE0DA; background: rgba(165,168,138,.15);}

.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6 {color: #1A6485; font-weight: normal; padding-bottom: 0; margin-bottom: 0;}

.panel h4, h3.h4 {font-family: 'Century Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1.2em;}

.discovery-bar {
  border-top: 2px solid rgba(0,0,0,.3);
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.5);
  height: 4em;
  margin-top: -4em; /* negative value of footer height */
	clear:both;
	float: left;

	.nav-bar { background: #fff; background: #FBFCFC; background: rgba(255,255,255,.88); overflow-x: hidden; border-top: 1px solid #ccc; border-top: 1px solid rgba(255,255,255,.5);
	  li { height:56px; }
	  li.profile { border-right: 1px solid #eee; }
	  li.settings { padding:0;
	    a { padding:0 20px; }
	  }
	}

}


.nav-bar ul {height: 4em;}
.nav-bar > li.active {background: #1A6485;}
.nav-bar > li > a {color: #333;}
.nav-bar > li > a:hover {background: #eee;}
.nav-bar > li:hover {background: #eee; cursor: pointer;}
.nav-bar li.right {float: right; display: inline-block; }
.nav-bar > li:last-child {border-right: 1px solid #eee;}
.nav-bar li.left {}
.nav-bar li:hover, .nav-bar li:active {background: #eee;}

.nav-bar li {width: 25%; display: inline-block;}

ul.side-nav {margin: 0; padding: 0;}

ul.side-nav li {
  border-bottom: 1px solid rgba(0,0,0,.07);
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
}

ul.side-nav li:last-child {border-bottom: none;}

ul.side-nav li a {
  background: none;
  padding: .5em 0;
  margin: 0;
}

ul.side-nav li a:hover,
ul.side-nav li a:active {background: rgba(0,0,0,.03);}

.nav-bar li.mygov a,
.nav-bar li.notifications a span.notification-label,
.nav-bar li.profile a,
 .nav-bar li.sign-out a
 {
  display: inline-block;
  text-indent: -999em;
  width: 100%;
  height: 4em;
  overflow: hidden;
}

.nav-bar li.notifications a span.notification-label {display: none;}

.nav-bar li.notifications a {text-align: center; height: 4em;}

span.jujitsu {
  background: #8B1A1B;
  display: inline-block;
  padding:  0 .5em;
  line-height: 1.5em;
  border-radius: 1em;
  text-align: center;
  vertical-align: top;
  color: #fff;
  margin-left: 2em;
  text-align: center;
  margin-top: .25em;
  font-size: .9em;
  font-weight: bold;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.7);
}

.nav-bar li.mygov a {background:  image-url("sprite.png") 68% 6px no-repeat;  border-right: 1px solid #eee;}
.nav-bar li.notifications a {background: image-url("sprite.png") 55% -109px no-repeat; border-left:none;}
.nav-bar li.profile a {background:  image-url("sprite.png") 65% -229px no-repeat; }
.nav-bar li.sign-out a {background: image-url("sprite.png") 65% -350px no-repeat;}


@media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
.nav-bar li.mygov a {background-image:  image-url("sprite-2x.png");  background-size: 40px; border-right: 1px solid #eee; }
.nav-bar li.notifications a {background-image: image-url("sprite-2x.png"); background-size: 40px; border-left:none;}
.nav-bar li.profile a {background-image:  image-url("sprite-2x.png"); background-size: 40px; border-left: 1px solid #eee; }
.nav-bar li.sign-out a {background-image: image-url("sprite-2x.png"); background-size: 40px;}
}

@media only screen and (min-width: 768px) {

  .nav-bar > li > a:first-child {padding-left: 3em;}

  .nav-bar li.mygov a,
  .nav-bar li.notifications a span.notification-label,
  .nav-bar li.profile a,
  .nav-bar li.sign-out a {width: auto; display: inline-block; text-indent: 0; }
  .nav-bar li {padding-left: 1em; width: auto;}
  .nav-bar li.mygov a {background: image-url("sprite.png") 0% 6px no-repeat;}
  .nav-bar li.notifications a {background: image-url("sprite.png") 0% -109px no-repeat; text-align: left; }

  span.jujitsu {margin-left: -1.5em;}

  .nav-bar li.profile a {background: image-url("sprite.png") 0% -229px no-repeat; border-left: none; }
  .nav-bar li.sign-out a {background: image-url("sprite.png") 0% -350px no-repeat;}
}

@media (min-width: 768px) and (min--moz-device-pixel-ratio: 2),
       (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1),
       (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
       (min-width: 768px) and (min-device-pixel-ratio: 2) {

.nav-bar li.mygov a {background-image:  image-url("sprite-2x.png");  border-right: 1px solid #eee; background-size: 40px;}
.nav-bar li.notifications a {background-image: image-url("sprite-2x.png"); border-left:none; background-size: 40px;}
.nav-bar li.profile a {background-image:  image-url("sprite-2x.png"); background-size: 40px;}
.nav-bar li.sign-out a {background-image: image-url("sprite-2x.png"); background-size: 40px;}
}

/*** Dashboad Navigation Bar***/

#wrap ul.dashboard-navigation {
  display: block;
  margin: 0;
  position: relative;
  float: none;
  width: 100%;
}

#wrap .one.columns.navigation div ul.dashboard-navigation li a {position: relative;}

#wrap .one.columns.navigation ul.dashboard-navigation li a div.arrow {display: none;}





.one.columns.navigation div {margin: 0 0 1em 0; float: none;}

.one.columns.navigation div a {display: block; width: 100%; color: #fff; padding: 1em .2em; text-align: center;}

#wrap ul.dashboard-navigation li {
  -webkit-transition: all ease-in-out .1s;
  -moz-transition: all ease-in-out .1s;
  -o-transition: all ease-in-out .1s;
  -ms-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
  display: inline-block;
  float: left;
  width: 25%;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  background: #243649;
  background: rgba(17,33,55,.9);
}

#wrap ul.dashboard-navigation li:hover {background: rgba(17,33,55,.95); }


ul.dashboard-navigation li a {
  display: block;
  text-align: center;
  color: #fff;
  color: rgba(255,255,255,.85);
  text-shadow: none;
  font-size: .9em;
}

ul.dashboard-navigation li a i {display: none;}
ul.dashboard-navigation li a.tasks {background-image: image-url("sprite.png")  0% -109px no-repeat;}
ul.dashboard-navigation li a.info {background-image: image-url("sprite.png")  0% -109px no-repeat;}
ul.dashboard-navigation li a.apps {background-image: image-url("sprite.png")  0% -109px no-repeat;}
ul.dashboard-navigation li a.forms {background-image: image-url("sprite.png")  0% -109px no-repeat;}

/*** Desktop / tablet view for dashboard navigation ***/
@media only screen and (max-width: 1100px) and (min-width: 768px) {

  .one.columns.navigation div a {color:transparent;}
  .one.columns.navigation div a i {color:white;}
}

@media only screen and (min-width: 768px) {

  ul.dashboard-navigation li a i {display: block; font-size: 1.5em; margin-bottom: .1em;}


  .one.columns.navigation div {position: fixed; width: 6.33333%; max-width: 85px;}
  .one.columns.navigation div a {margin: 0 2% 0 2%; padding: 1em 0 1em 0;}
  .one.columns.navigation {padding: 0 2%; position: relative;}
  #wrap ul.dashboard-navigation li {margin: 0; width: 100%; border-bottom: 1px solid rgba(255,255,255,.01);}

  ul.dashboard-navigation li.first {
  -webkit-border-top-left-radius: .35em;
  -webkit-border-top-right-radius: .35em;
}

  ul.dashboard-navigation li.last {
    -webkit-border-bottom-left-radius: .35em;
    -webkit-border-bottom-right-radius: .35em;
    -moz-border-radius-bottomleft: .35em;
    -moz-border-radius-bottomright: .35em;
    -o-border-bottom-left-radius: .35em;
    -o-border-bottom-right-radius: .35em;
    border-bottom-left-radius: .35em;
    border-bottom-right-radius: .35em;
  }

  #wrap ul.dashboard-navigation li:first-child {
  -webkit-border-top-left-radius: .3em;
  -webkit-border-top-right-radius: .3em;
  }


}

/*** Inline list ***/
@media only screen and (min-width: 500px){
  ul.inline-list {margin: 0 auto; padding: 0;}
  ul.inline-list li {display: inline-block; margin: 1em 0 1em 0; padding: .25em 1em .25em .5em; font-size: .95em; border-right: 1px solid rgba(0,0,0,.1);}

  ul.inline-list li:last-child {border-right: none;}

  ul.inline-list li a {color: #444;}
}
@media only screen and (max-width: 500px) {
  ul.inline-list li {display: block; font-size: .95em;}
}

/*** Message Bars ***/

div.alert-box {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  background: #146487;
}

div.alert-box a {
  color: white;
}

div.alert-box a:hover {
  color: white;
}

div.alert-box.blue {
  background: #2ba6cb;
  color: white;
}

/*** Third Party Sign up ***/

.third-party a {
  display: inline-block;
  background: #777;
  display: block;
  text-align: center;
  color: #fff;
  padding: .5em 1em;
  margin: 0 0 .1em 0;
  font-weight: bold;
}


/*** Sticky footer http://www.cssstickyfooter.com ***/

body {background: #F2F2F2 image-url("background.png") 50% 50% repeat;}

@media only screen and (min-width: 768px) {
  body {
    background-image: image-url("background.png");
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;
    }

   body.sign-up {
     background-position: top center, 80% 20%;
   }
}

@media only screen and (min-width: 768px) {
#wrap {min-height: 100%; background: image-url("america.png") top center no-repeat fixed;}
body.sign-up #wrap {background: none;}
}

#main {
  overflow:auto;
	padding-bottom: 4em; /* must be same height as the footer */
	padding-top: 1.5em;
}


/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

#wrap .container {clear: both; padding: 0; }

@media only screen and (max-width: 768px) {
  #wrap .container {padding: 0 2%;}
  #header {padding: .2em 2%;}
  #wrap .container .row {padding: 0 1%;}
}

/*** Sign up form - move to seperate style sheet ***/

.secondary {
  border-top: 2px solid #fff;
  background: #AFA88A;
  padding: 1em 0;
  color: #112136;
  text-shadow: 0px;
}

.secondary ul li {display: inline-block; margin: 0 1em 1em 0; border-right: 1px solid rgba(0,0,0,.1); padding-right: 1em;}
.secondary ul li a {border-right: none; padding-right: 0; color: #112136; }
.secondary ul li a:hover, .secondary ul li a:active {text-decoration: none; border-bottom: 1px solid rgba(0,0,0,.3);}
.secondary ul li:last-child {border-right: none;}
.signup-form h3, .signup-form h4 {color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.2); font-size: 2em; line-height: 1.2em;}
.signup-form h4 {font-size: 1.7em; padding-top: .35em;}

.signup-form blockquote {
  border-left: none;
  color: #fff;
  font-style: italic;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.3em;
  padding: 0;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html.cssanimations .signup-form blockquote:before {
  content: "“";
  font-family: 'GoudyBookletter', Georgia, 'Times New Roman', serif;
  font-size: 22em;
  position: absolute;
  color: rgba(255,255,255,.05);
  left: -90px;
  top: .3em;
}

@media (device-width: 320px) and (orientation: landscape) {body.sign-up {zoom: 80%;}}

.sign-up #main, .sign-up #wrap, .sign-up .container {padding: 0; margin: 0;}
.sign-up .signup-form a {color: #fff; font-weight: bold; display: inline-block;}

.logo {display: block;  background: #fff; padding: 1em 3%;}

.signup-form {
  border-top: 10px solid #D8D8D7;
  padding: 2em 0 0 0;
  margin: 0;
  overflow-x: hidden;
  background: #112136 image-url("background-noise.png") center repeat fixed;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
  -ms-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.4) inset;
  -moz-box-shadow: 0 5px 8px rgba(0,0,0,.4) inset;
  -o-box-shadow: 0 5px 8px rgba(0,0,0,.4) inset;
  -ms-box-shadow: 0 5px 8px rgba(0,0,0,.4) inset;
  box-shadow: 0 5px 8px rgba(0,0,0,.4) inset;
}

.signup-form .row {padding: 2em 0 0 0; }

.signup-form label {
  font-weight: bold;
  color: #fff;
  display: inline-block;
  padding: .3em 0;
}

.signup-form p {
  color: #fff;
  margin: 1em 0;
  font-size: 1.15em;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}

html.borderimage .signup-form .button.positive {
  -webkit-transition: all ease-in-out .5s;
  -moz-transition: all ease-in-out .5s;
  -ms-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
  border-style: solid;
  border-width: 10px;
  -moz-border-image: url(blue-button.png) 27 repeat;
  -webkit-border-image: url(blue-button.png) 27 repeat;
  -ms-border-image: url(blue-button.png) 27 repeat;
  -o-border-image: url(blue-button.png) 27 repeat;
  border-image: url(blue-button.png) 27 fill repeat;
  padding: .5em 2em;
}

html.no-borderimage .signup-form .button.positive {
  background: #30658A;
  border: 1px solid #fff;
}

.signup-form .button.positive:hover, .signup-form .button.positive:active {
  -webkit-box-shadow: 0 0 10px rgba(255,255,255,.5);
  -moz-box-shadow: 0 0 10px rgba(255,255,255,.5);
  -o-box-shadow: 0 0 10px rgba(255,255,255,.5);
  -ms-box-shadow: 0 0 10px rgba(255,255,255,.5);
  box-shadow: 0 0 10px rgba(255,255,255,.5);
}

a.info {margin-right: .5em; /* border-right: 1px solid #ddd; */ padding-right: 1em; color: #555;}
a.plain {font-weight: normal; text-decoration: none; border-bottom: 1px solid #ccc; border-bottom: 1px solid rgba(255,255,255,.3);}
a.plain:hover, a.plain:active {text-shadow: 0 0 5px rgba(255,255,255,.5); border-bottom: 1px solid rgba(255,255,255,.5);}

.padding-right-one {padding-right: 8.33333%;}
.padding-left-one {padding-left: 8.33333%;}
.border-left {border-left: 1px solid rgba(255,255,255,.1);}

p.sign-in-bar.right a {
  background: #AEA788;
  border: 1px solid rgba(0,0,0,.1);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  text-decoration: none; display: inline-block;
  padding: .35em;
}

p.sign-in-bar.right a:hover, p.sign-in-bar.right a:active {-webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);}

@media (max-width: 767px) {

  .padding-right-one {padding-right: 0;}
  .padding-left-one {padding-left: 0;}
  .border-left {border-left: none;}

  p.sign-in-bar.right {
    text-align: center;
    display: block;
    padding: 2%;
    width: 100%;
  }

  #wrap .signup-form {padding: 0 3%;}

}

.signup-form input[type="email"] {
  border: 2px solid rgba(40,100,132,.6);
  font-size: 1.2em;
  display: block;
  font-weight: normal;
}

.signup-form input[type="email"]:focus {
  border: 2px solid #ccc;
  -webkit-box-shadow: 0 0 10px rgba(255,255,255,.8);
  -moz-box-shadow: 0 0 10px rgba(255,255,255,.8);
  -o-box-shadow: 0 0 10px rgba(255,255,255,.8);
  -ms-box-shadow: 0 0 10px rgba(255,255,255,.8);
  box-shadow: 0 0 10px rgba(255,255,255,.8);
}

html.ie8 .signup-form input[type="email"] {padding: 0; line-height: 1em;}


html.backgroundsize .sign-up .logo h1 {
  text-indent: -9999em;
  width: 343px;
  max-width: 80%;
  margin: 0 auto;
  height: auto;
  max-height: 90px;
  display: block;
  background: image-url("signup-logo.png") top center no-repeat;
  background-size: contain;
}

html.no-backgroundsize .sign-up .logo h1 {
  background: image-url("signup-logo-small.png") top center no-repeat;
  width: 325px;
  height: 115px;
  margin: .5em auto;
  display: block;
  text-align: center;
  text-indent: -9999em;
}

form li.full label {padding: .5em 0;}

form li.full {
  display: block;
  margin: .75em 0 .75em 0;
  border-bottom: 1px solid #dedede;
}

form li.full:last-child {border-bottom: none;}


@media only screen and (min-width: 768px) {

html.backgroundsize .sign-up .logo h1 {
   margin: 0 auto 1em auto;
   height: 138px;
   max-height: none;
}

.signup-form {border-top: 10px solid #D8D8D7; padding: 1em 1% 2em 1.25em;}

}


.row.splash {
  background: #fff;
  padding-bottom: 1em;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.row.splash h2 {text-align: center; font-size: 4em; margin: .5em 0 0 0; padding-top: .5em; color: #122137; clear: both; display: block;}
.row.splash p.tagline {text-align: center; font-size: 1.75em; color: #2A6588; font-family: 'GoudyBookletter', Georgia, 'Times New Roman', serif; margin: 0 0 1em 0; padding: 0;}

.row.headline {margin-bottom: 4em; clear: both;}

#wrap h2.feature {font-size: 3.45em;  margin: .5em .5em .15em .5em; display: block; line-height: 1.5em;}

/*** Various Panels ***/

.panel a {color: #0E2037;}
.panel a:hover {color: #1D6387; text-decoration: underline;}

.panel.secondary {background: rgba(0,0,0,.02); margin: 0 0 1em 0; border: none; }
.panel.secondary h4 {border-bottom: 1px solid rgba(0,0,0,.15); padding-bottom: .25em;}
.panel.tertiary {background: none; border: none;  -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.panel.tertiary {background: none; border: none;  -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; text-align:center;}
.panel.decorative {position: relative;}

.panel.decorative.style-one {background: #eee; background: rgba(255,255,255,.65);}
.panel.decorative h3,
.panel.decorative h4,
.panel.decorative h5 {text-align: center; text-transform: uppercase; color: #555; font-size: 1.1em; letter-spacing: .15em; border-bottom: 1px solid rgba(0,0,0,.1); margin-bottom: .5em;}
.panel.decorative div {background: #fff; border: 1px dotted rgba(0,0,0,.2); padding: .5em 1em; margin: .25em 0; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1) inset;}
#main .panel.decorative.style-one li {color: #102038; font-size: .95em;}

.panel.decorative h6 {font-size: 1em; line-height: 1.4em; display: block; padding: 0; border-bottom: 1px solid rgba(0,0,0,.1);}
.panel.decorative h6:last-child {border-bottom: none;}

.panel.decorative span.leader {
  font-size: 3em;
  display: block;
  padding: .55em 0;
  line-height: 1.2em;
  text-align: center;
  font-family: 'GoudyBookletter', Georgia, 'Times New Roman', serif;
}

#wrap p.source {font-size: .9em; color: #555; margin: 0; padding: 0; }
#wrap img.framed {padding: .3em; border: 1px solid rgba(0,0,0,.1);}

.panel.decorative.style-three {background: rgba(255,255,255,.45);}
.panel.decorative.style-three div {background: rgba(255,255,255,.65);}
.panel.decorative.style-three a {display: block; padding: 1em 0;}
.panel.decorative.style-two {background: #1A6485; background: rgba(18,99,134,.7); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3);}
.panel.decorative.style-two div {background: #1A6485 image-url("glow.png") 50% 60% no-repeat;  -webkit-box-shadow: none; border: none; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2) inset;}
.panel.decorative.style-two p {text-shadow: 0 -1px 0 rgba(0,0,0,.3); text-align: center;}
.panel.decorative.style-two h3 {font-size: 1.2em; padding-bottom: .35em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.2); font-weight: bold;}
.panel.decorative div.flourish {border: none; background: none; padding: 0; margin: 0; text-shadow: none; -webkit-box-shadow: none; margin: 0 auto; font-size: 1.7em; text-align: center; margin-bottom: -.38em; color: #5A4A42; }
.panel.decorative.style-two div.flourish {color: #fff;  margin-bottom: -.28em}
.panel.decorative.style-two div.flourish i {text-shadow: 0 0 4px rgba(0,0,0,.3);}
.panel.decorative div.fixed-height {height: 12em;}

.panel.decorative.style-four {background: rgba(0,0,0,.095); text-align: center; height: 16em; -webkit-box-shadow: 0 5px 11px rgba(0,0,0,.05) inset;}

@media only screen and( max-width: 960px) {
  .panel.decorative.style-four {height: 21em;}
}


#wrap .panel.decorative.style-four i {color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.2); font-size: 2em; margin: .25em .5em; display: block;}
#wrap .panel.decorative.style-four h4 {font-size: 1.8em; font-family: 'GoudyBookletter', Georgia, 'Times New Roman', serif; border-bottom: none; text-transform: none; letter-spacing: 0; margin: 0;}
#wrap .panel.decorative.style-four p {color: rgba(0,0,0,.7); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1em; margin: .5em 0; padding: .5em 1em; border-top: 1px solid rgba(255,255,255,.3);}

#wrap .columns.centered .feature {text-align: center;}

p.first {border-bottom: 1px solid #eee; padding-bottom: 1em; display: block;  margin-bottom: .5em;}
#wrap p.secondary {font-size: 1.2em; margin-bottom: 0;}

.panel.decorative a {color: #1E6687;}
#wrap .panel.decorative a:hover {text-decoration: none;}

.panel.decorative.style-four p {font-family: 'GoudyBookletter', Georgia, 'Times New Roman', serif; font-size: 1.5em; padding: 1em; }

.border-top {border-top: 1px solid rgba(0,0,0,.1); padding: .5em 0 0 0;}
.border-bottom {border-bottom: 1px solid rgba(0,0,0,.1); padding: .5em 0 0 0;}

@media only screen and (min-width: 768px) {
.border-left {border-left: 1px solid rgba(0,0,0,.1); padding: .5em 0 0 0;}
.border-right {border-right: 1px solid rgba(0,0,0,.1); padding: .5em 0 0 0;}
}
.row.margin-bottom {padding-bottom: 1em;}


@media only screen and (max-width: 767px) {.panel.decorative div.fixed-height, .panel.decorative.style-four {height: auto;} }

#main h3.ticker {margin: 0 0 .5em 0; padding: 0; line-height: 1em; font-size: 1.5em; color: #555; color: rgba(0,0,0,.5); }
#main h3.ticker.news {vertical-align: top;}

.pitch {border-bottom: 1px solid rgba(0,0,0,.1); border-top: 1px solid rgba(0,0,0,.1); margin-bottom: 1.25em; height: .25em;}

.panel.task {
  background: #1A6485 image-url("panel-mediumblue.png") center repeat;
  color: #fff;
  position: relative;
  margin-bottom: 2em;
  -webkit-border-image: url(blue-button.png) 27 repeat;
  -moz-border-image: url(blue-button.png) 27 repeat;
  -ms-border-image: url(blue-button.png) 27 repeat;
  -o-border-image: url(blue-button.png) 27 repeat;
  border-image: url(blue-button.png) 27 repeat;
}

.panel h3 i {color: #ACACAD; color: rgba(0,0,0,.3); margin-bottom: 0; vertical-align: top; font-size: .75em; text-shadow: 0 1px 0 rgba(255,255,255,.2); }
.panel.task h3 i {color: rgba(255,255,255,.2);}

.panel.task div {margin: 0 0 1em 0;}

.panel.task h5 a {background: rgba(255,255,255,.2); padding: .2em 1em; border: 1px solid rgba(255,255,255,.6); margin-bottom: 1em; display: inline-block;}
.panel.task h5 a:hover {background: rgba(255,255,255,.2); padding: .2em 1em; border: 1px solid rgba(255,255,255,.8); margin-bottom: 1em; display: inline-block;}
.panel.task div:last-child {border-bottom: none;}
.panel.task div:first {border-top: none;}

.panel.task h3 {
  color: #fff;
  font-size: 1.8em;
  margin: 0 0 .25em 0;
  padding-right: 3em;
  /* border-bottom: 1px solid rgba(255,255,255,.1); */
  text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}

.panel.task h3 a:hover {background: rgba(255,255,255,.2);}

.panel.task h2,
.panel.task h3,
.panel.task h4,
.panel.task h5,
.panel.task h6 {color: #fff; text-shadow: none;}

.panel.task span { text-shadow: none; }
.panel.task a, .panel.task p {color: #fff; text-shadow: none; padding: 0; }
.panel.task a.large.button.alternate {background: #fff; font-size: 1em; color: #122137; padding: 0 2em; display: inline-block;}
.panel.task a:hover { text-decoration: underline; }

.panel.task a i {text-decoration: none; display: inline-block; margin: 0 .25em 0 0;}

#wrap .panel.task.dashboard h4 a {
  background: image-url("sprite.png") .5em -467px no-repeat;
  padding: .5em .75em .5em 2.8em;
  text-decoration: underline;
  display: inline-block;
  color: #fff;
  font-weight: bold;
}

.panel li span.actions {display: block; clear: both; margin: 1em 0 0 0; padding: 0; line-height: 1em;}

@media only screen and (min-width: 768px) {
  .panel li span.actions {display: inline; clear: none; margin: 0 1.5em 1em 0;}
}

#wrap .panel.task.dashboard h4 a:hover,
#wrap .panel.task.dashboard h4 a:active {
  background: image-url("sprite.png") .6em -467px no-repeat;
  cursor: hand;
}

.panel.task a,
.panel.task a.button,
.panel.task a:hover,
.panel.task a.button:hover {border-bottom: none; background: transparent; -webkit-box-shadow: none; margin: 0 1em 0 0; }

.panel.task h3 a, .panel.task h3 a:hover {margin: 0;}

#wrap .panel.task form {display: inline-block; margin: 0; padding: 0;}
@media only screen and (max-width: 767px) {
  #wrap .panel.task form {display: block;}

}

.panel.task li {list-style: none; margin: 0 0 1.25em 0; padding: 0 0 1em 0; border-bottom: 1px solid rgba(255,255,255,.2);}
.panel.task li:last-child {border-bottom: none;}

.panel ol.inline {margin: 0; padding: 0; list-style: decimal;}
.panel ol.inline li {list-style: none; list-style-type: decimal;  display: block; border-bottom: 1px solid rgba(255,255,255,.1); padding-bottom: .5em;}
.panel ol.inline li.no-margin {margin-bottom: 0; padding-bottom: 0;}
.panel ol.inline li.full {padding-bottom: 0; margin: 0 0 1.5em 0;}
.panel ol li:last-child {border-bottom: none;}
.panel ol li h5 {color: #fff;}

.panel li span.actions {font-weight: normal;}
.panel li span.actions i {opacity: .5; vertical-align: bottom; line-height: 1em; font-size: .75em;}

ol.item-list {margin: 0 0 1em 0; display: block; list-style-type: decimal; padding: 0 1em; background: rgba(255,255,255,.1)}

#wrap ol.item-list li {list-style: decimal; display: block; line-height: 1em; vertical-align: middle; font-weight: bold; list-style-type: decimal; margin: 0 0 0 1.5em; border-bottom: 1px solid #ccc; border-bottom: 1px solid rgba(255,255,255,.1); padding: 1em 0;}

#wrap ol.item-list li:last-child {border-bottom: none;}

h5 span {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: bold; font-size: .9em; background: rgba(0,0,0,.05); display: inline-block; padding: 0 .75em; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1) inset;}

.panel span.bookmark {display: inline-block; background: image-url("sprite.png") 0% -611px no-repeat; width: 30px; height: 53px; position: absolute; top: -1px; right: 2em;  }

.panel.info {
  background: rgba(175,168,138,.2);
}


/*** Idea blocks ***/

.panel.ideas {
  background: #E2E3E1;
  background: rgba(0,0,0,.05);
  color: #fff;
  margin-top: 1em;
  height: 16em;
  -webkit-box-shadow: 0 0 5px rgba(255,255,255,.5) inset;

}

.panel.ideas.small {height: 12em;}

#wrap .panel.ideas.small h3 {border-bottom: none; text-align: center;}

@media only screen and (max-width: 767px) {
  .panel.ideas {height: auto;}

}

@media only screen and (max-width: 860px) {
 #wrap .news .four {display: block; width: 100%;}
 .panel.ideas {height: auto;}
}




.panel.ideas h5 {font-weight: bold; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.2em; padding-bottom: .5em; margin-bottom: .5em; border-bottom: 1px dotted #fff;}
.panel.ideas p {color: #444;}

.panel h3 span {color: #555;}


@media only screen and (max-width: 767px) {


  .button {display: block;
    margin: 0 0 1em 0;
  }

  #main {
    clear: both;
  }

  .discovery-bar {
   /* turning this off for now to test position fixed in iOS 6 position: inherit;
   bottom: auto;
   margin-top: 0;
   clear: both;
   */
   -webkit-overflow-scrolling:touch;
   overflow: hidden;
  }





  fieldset li, form li {
    border-bottom: none;
    padding: 0;
  }

  .sidebar {
    margin-top: 1em;
    clear: both;
    line-height: 1.6em;
  }




  .actions {padding: 0;}

}

@media only screen and (min-width: 768px) {

 fieldset {background: #fff;}
 .align-right {float: right; text-align: right;}


}

.row {overflow: hidden; min-width: inherit; position: relative;}

/*** Darowski Arrows  http://tech.patientslikeme.com/2010/11/09/using-borders-to-make-pure-css-arrows/ ***/

#wrap div.arrow {
  position: absolute;
  top: 0;
  left: 2em;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;

}


.secondary .jurisdiction {margin-top : 1em;}

.secondary .jurisdiction a {
  width : 100%;
  display : block;
  padding : 1em 0;
  font-size : 1.5em;
}

#wrap .secondary .jurisdiction a:hover {
  text-decoration: none;
  border-bottom: none;
  background: rgba(0,0,0,.04);
}

#main .jurisdiction-list li {padding-bottom: 1em;}

.jurisdiction-list h3 {
margin-bottom : .2em;
}

.jurisdiction-list img {
  float : right;
  max-width : 100px;
  margin-bottom : 0;
  padding: .35em;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #ccc;
  margin: 0 0 1em 1em;
}

.jurisdiction-list .twitter-feed img {float : left;}
.twitter-feed {position: relative; float: none; clear: both;}
.jurisdiction-list .text-box {}

.elected-list {
  padding: 0;
  margin: 0;
  font-size: 1.4em;
}

.jurisdiction h3 {
  font-size : 2.5em;
  border-bottom-color: #ccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.jurisdiction h3 a {color: rgba(0,0,0,.7);}

.jurisdiction .website a:hover {color: #267fd9;}
.jurisdiction h3 a:hover {text-decoration : none;}

.jurisdiction h6 .level,
.jurisdiction h3 .level .type_name,
.jurisdiction h3 .level .level_name {
  color: rgba(0,0,0,.5);
  line-height: 1.5em;
}


#wrap h4 span.title {font-weight: bold; color: #444;}
#wrap h4 span.name {color : #0E2037}

.jurisdiction li.official {
  margin: 1em 0 0 0;
  display: block;
  padding-top: 1em;
  clear: both;
}

li.official:last-child {border-bottom: none;}

.official a:hover .title,
.official a:hover .name {
  color: #000;
}

.jurisdiction .website a,
.jurisdiction .phone a {
  color: #666;
  color: rgba(0, 0, 0, .5);
  text-transform: none;
  vertical-align: top;
  float: left;
  clear: left;
  font-size: .86em;
  display: inline-block;
  padding: 0 0 .35em 0;
  line-height: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 1em 2em 0 0;
  text-decoration: none;
}

.jurisdiction.website,
.jurisdiction.phone {
  font-size: 1.3em;
  margin: 0;
  margin-bottom: 2em;
  float: left;
}

.official.website a {width : 50%;}

.jurisdiction a:hover,
.jurisdiction h3 a:hover {
  color : #0066CC;
}

.official h4,
.official .social-media {
  margin-bottom: 0;
  float: left;
  clear: left;
}


.official .social-media a {
  margin : .5em .5em .5em 0;
  font-size : 1.2em;
  height : 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  vertical-align: bottom;
  background: rgba(0,0,0,.3);
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  display: inline-block;
  color: #fff;
  border-radius: .1em;
}

.official .social-media a:hover {
  border-bottom: none;
  background-color : #888;
  text-decoration: none;
}

.official .social-media a span {
display : none;
}

/*** Tooltip overrides ***/
span[aria-hidden="false"] {display:block;}

.tooltip {
  float: left;
  font-size: 0.9em;
  margin-top: -10px;
  margin-left: 40px;
  line-height: 20px;
  padding: 5px 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(18, 99, 134);
  border: 0px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

.tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #126386 transparent transparent transparent;
  top: 30px;
  left: 50px;
}

.tooltip:hover {
  color: #fff;
}

/*** Danger Will Robinson! ***/

#error_explanation {
  background: #961D19;
  clear: both;
  padding: .5em 1em;
  margin: 0 0 1em 0;
  color: #fff;
  text-shadow: none;
}

#error_explanation a {
  color: #fff;
}

label div.field_with_errors a{color: #fff; text-decoration: underline}  // Customization for checkbox label with errors
label div.field_with_errors a:hover{color: #fff;}  // Customization for checkbox label with errors
label div.field_with_errors {color: #fff; text-shadow: none; margin: 0; padding: .2em; }  // Customization for checkbox label with errors
.field_with_errors { background: #961D19; }
.field_with_errors label {color: #fff; text-shadow: none; margin: 0; padding: .2em; }
.field_with_errors input[type="text"],
.field_with_errors input[type="email"],
.field_with_errors input[type="password"] {
  background:#fff;
  border: 1px solid #961D19;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

.field_with_errors > input {border: 2px solid green;}


#error_explanation ul {margin: 1em 0; padding: 0;}
#error_explanation li {text-shadow: none;}

#error_explanation h2 {color: #fff; font-size: 2em; text-shadow: none;}

/*** Modal Experiement ***/

@media only screen and (min-width: 768px) {
  .column, .columns {
  position: inherit;
  }

}
