.navbar-brand h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-indent: -5000px;
  background-image: url('/assets/img-myusa-logo.gif');
  width: 203px;
  height: 57px;
}

body { padding-top: 125px; }

ol.inline {
  li {
    list-style: none;
    padding: 5px;
  }
}

ol.sign-in-panel { border-right: 1px solid #ccc; }

#sign-up-options {
  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.actions { margin-top: 25px; }

/*** Inline list ***/
ul.inline-list {margin: 0 auto; padding: 0;}
ul.inline-list li {display: inline-block; margin: 1em 0 1em 0; padding: .25em 1em .25em .5em; font-size: .95em; border-right: 1px solid rgba(0,0,0,.1);}
ul.inline-list li:last-child {border-right: none;}
ul.inline-list li a {color: #444;}
