/**
Main SCSS for USA.gov
 */

// IMPORTS
@import "vars"; // import _vars.scss
/*@import "mixins"; // import _mixins.scss

/* SITE STYLES
 * ------------------------------------------------ */

/* GLOBAL
 * ------------------------------------------------ */

#main {padding-top: 40px; }
.middle {text-align: center}

h1, h2, h3, h4 {
  font-family: $headingFamily;
  line-height: normal;
  color: $shieldBottom;
  font-weight: normal;
  text-shadow: none;
}
p, a {
  text-shadow: none;
  font-family: $base-font;
}

.btn-primary {
  background-color: #369;
}

/* Bootstrap overrides
 * ------------------------------------------------ */
.navbar-default .navbar-toggle {
  background-color: #336699;
  border-color: #003366;
  padding: 7px 10px;
  margin-top: 16px;
  margin-right: 20px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2f5d8a;
}

/* HEADER
 * ------------------------------------------------ */
#navigation-region {
  padding: 0;
  margin: 0;
  background-color: $white;
  border-bottom: 6px solid $red;
}

.navbar {
  border-radius: none;
  background-image: none;
  box-shadow: none;
  margin-bottom: 0px;
}

body.content .navbar-brand {
  padding: 10px 0;

  img {
    width: 2.0em;
  }
  h1 {
    font-size: 2.0em;
    margin-top: 0;
  }
}

.navbar-default {
  background-color: $white;
  border: none;
}

.navbar-brand {
  display: inline;
  padding-left: 86px;
  padding-top: 43px;
  img {
    width: 54px;
    float: left;
    margin-right: 10px;
  }
  h1 {
    color: $shieldTop;
    font-size: $fontBig;
    margin-top: 6px;
  }

  .my {
    color: $shieldBottom;
    font-weight: 600;
  }
  .usa {
    font-weight: lighter;
  }


}

.navbar-right {
  text-align: right;
  padding-top: 20px;
  margin-right: 70px;
  span {
  }
  a {
  margin: 7px 0;
  padding-right: 10px;
  color: #fff;
  text-decoration: none;
  margin-left: 7px;
  min-width: 100px;
  }

  #existing-account p {
    margin: 13px 0px 0 0;
  }
}

.navbar-default .navbar-nav > li > a {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 30px;
  color: $trueBlue;
  text-decoration: underline;
  &:hover, &:focus {
    text-decoration: none;
  }
}

ul.nav {
  margin-top: 3px;

  li {

    border-right: 1px;

    .active {
      color: $buttonBlue;
      background-color: #eee;
    }

    .btn-sm {
      padding: 8px 15px;
      margin: 7px;
    }
  }
}


/* AMBER WAVES
 * ------------------------------------------------ */

.banner-region {
  max-width: 100%;
  background-image: url('/assets/amberWaves.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
}
#elevator-pitch {
  font-family: $headingFamily;
  font-weight: 400;
  display: inline-block;
  text-align: left;
  height: 366px;
  padding-top: 19%;
  padding-left: 33%;
  margin-bottom: auto;
  font-size: $fontBig;
  color: $white;
}

#elevator-pitch .lighter {
  font-weight: 100;
}

#signup-form {
      display: table-cell;
      padding-top: 28%;
      padding-left: 9%;
      height: 366px;


      a {
        color: $white;
        font-family: "Raleway", sans-serif;
        font-weight: 100;
      }

      input#beta_signup_email {
        margin-bottom: 18px;
        font-size: 1.4em;
        font-weight: 100;
        color: #808080;
      }

      p {
        color: $white;
        margin-top: 10px;
        font-size: 1.2em;
      }
      .btn, input {
        margin-bottom: 15px;
        padding-left: 15px;
        max-width: 350px;
        width: 95%;
      }
      .btn {
        font-size: 1.15em;
        font-weight: bold;
        background-color: #a95248;
        border-bottom: 4px solid $red;
        color: $white;
      }

      #beta_signup_email {
        border: 2px solid #000;
      }
      input {
        display: inline-block;
        font-weight: normal;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 47px;
      }
    }
p.small-pitch {
  display: none;
}


.banner-region {
  .container {
    margin: 0;
    max-width: 1450px;
  }
}

.home-mission-statement {
  width: 100%;
  bottom: 0;
  background-color: $shieldBottom;
  background: rgba(0, 45, 91, 0.8);
  color: $white;
  text-align: center;
  font-size: $fontBig;
  padding: 71px 0;

  p {
    font-family: "Raleway", sans-serif;
    font-weight: 100;

    strong {
      font-weight: 500;
    }
  }
}


/* FEATURES
 * ------------------------------------------------ */

.features-region {
  width: 100%;
  display: block;
  background-color: #f2f2f2;
  padding-bottom: 75px;
  padding-top: 40px;
  padding-left: 100px;

  .col-md-12 h2 {
    font-weight: 800;
    color: $navyBlue;
  }
  .col-md-4 {
    text-align: center;
    padding-right: 55px;
    padding-left: 55px;
    h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;
    }
    p {
    line-height: 1.5em;
    }

    &.first {
      margin-left: -55px;
    }
  }
  img {
    padding-top: 20px;
  }
}

/* GET INVOLVED
 * ------------------------------------------------ */

.get-involved-region {
  width: 100%;
  background-color: $white;
  margin-left: 100px;

  .container {
    max-width: 1400px;
  }

  a {
    display: inline-block;
    background-color: $maroon;
    color: $white;
    padding: 5px 8px;
    margin: 0 20px 10px 0;
    text-decoration: none;
  }
  h2 {
    margin-top: 25px;
    font-weight: 800;
    color: $navyBlue;
  }
  h3 {
    font-weight: 500;
  }
  p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .right { /* this will need to be adjusted, but since we don't know what img we're putting here yet, waiting. */
    /*background-image: url('/assets/home-bg-media-screens.jpg');
    background-repeat: no-repeat;
    background-position: right top;*/
    height: 406px;
    position: absolute;
    right: 0;
   /* background-size: 100%;*/
  }
}


/* FOOTER
 * ------------------------------------------------ */

.footer-info {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 100;
}

.tagline {
  font-size: 1.75em;
  color: $base-blue;
}

.footer-nav-region {
  font-size: 0.9em;
  width: 100%;
  padding: 50px 100px 100px 100px;
  color: $white;
  background-color: #122337;
  border-top: 6px solid $red;
  h4 {
    font-size: 1em;
    margin-bottom: 0.35em;
  }
  a, h4 {
    color: $white;
  }
  p {
    line-height: 1.5em;
  }
}

.tagline {
  font-family: $headingFamily;
  font-size: 1.75em;
  font-weight: 200;
  color: $base-blue;
}

p.tagline-highlight {
  display: inline-block;
  font-size: .9em;
  padding: 5px;
  background-color: $bgblue;
}



/* RESPONSIVE
 * ------------------------------------------------ */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .get-involved-region {
    .right {
      width: 50%;
    }
  }

  .navbar-brand {
    margin: 0;
    padding: 0 0 14px 0;

    img {
      float: left;
      margin-left: 0;
      margin-right: 5px;
      margin-top: 15px;
      display: inline-block;
      width: 17%;
    }

    h1 {
      float: left;
      font-size: 2.1em;
      display: inline-block;
      width: 65%;
      margin: 19px 0 0 0;
    }
  }

  .home-mission-statement {
    padding: 30px 0 25px 0;
    font-size: 1.75em;
    line-height: 1.2em;
  }
}

/* Tablets */
@media screen and (min-width: 767px) and (max-width: 992px) {
  .get-involved-region {
    .container {
      max-width: 992px;
      margin-left: 25px;
    }

    .navbar-brand {
      border: 1px solid red;
      img {
        float: left;
        margin-left: 9px;
        margin-right: 5px;
        display: inline-block;
        width: 13%;
      }

      h1 {
        float: left;
        font-size: 1.6em;
        display: inline-block;
        width: 65%;
        margin: 0;
      }
    }
  }

  .navbar-right {
    text-align: left;
    margin: 0;
    padding: auto 0;
  }

  nav .tablet {
    display: block;
    a {
      color: #000;
    }

    a.btn-primary {
      color: #fff;
    }
  }

  #elevator-pitch {
      height: 365px;
      font-size: 2.3em;
      line-height: 1.7em;
    }
  #signup-form {
      padding-left: 5%;
      height: 365px;
    }
.features-region {
  padding-bottom: 15px;
  padding-top: 10px;
  .col-md-12 h2 {
    margin-bottom: 15px;
  }
  .col-md-4 {
    height: 150px;
    h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    }
    p {
    line-height: 1.5em;
    font-size: 1.3em;
    }
  }
  img {
    float: left;
    padding-top: 20px;
    padding-right: 20px;
    height: 110px;
  }
  .tabScreenFix {
    float:right;
    width: 460px;
  }
}
  p.footer-info {
    clear: both;
  }

  nav li a {
    border: 1px solid red;
    color: #fff;
  }

  .sign-in-label {
    border: 1px solid red;
    display: none;
  }

  #existing-account {
    float: left;
  }
  .get-involved-region {
    margin-left: 25px;
  }
}

/* Tablet */
@media screen and (max-width: 767px) {
  #signup-form {
    text-align: center;
    width: 100%;
  }

  #elevator-pitch {
    font-size: 2.0em;
  }

  .brand { /* none of this nav on phone part has been checked yet */
    margin-left: none;
    width: 100%;
    display: block;
    clear: both;
  }
  .navbar-brand .tagline {
    font-size: 1.25em;
  }
.navbar-right {
    text-align: left;
    margin: 0;
    padding: auto 0;
  }
  .navbar-brand {
    padding: 10px 10px 14px 11px;
  }

  #elevator-pitch {
      padding-top: 20px;
      padding-left: 0;
      text-align: center;
      width: 100%;
      height: 130px;
    }
  #signup-form {
      display: block;
      padding-left: 0;
      padding-top: 15px;
      text-align: center;
      height: 220px;
    }
  .get-involved-region {
    margin: 40px;
  }
  .footer-nav-region {
    padding: 50px 50px 50px 40px;
  }

  p.footer-info {
    clear: both;
  }
}

/* Phones */
@media screen and (max-width: 320px) {
  #elevator-pitch {
    font-size: 1.75em;
    line-height: 2.45em;
  }

  #signup-form a {
    color: #336699;
  }

  .row {
    margin-right: 0;
  }

  .navbar-default .navbar-toggle {
    margin-right: -10px;
  }

  .navbar-brand {
    img {
      float: left;
      margin-left: 9px;
      margin-right: 5px;
      display: inline-block;
      width: 13%;
    }

    h1 {
      float: left;
      font-size: 1.6em;
      display: inline-block;
      width: 65%;
      margin: 0;
    }
  }
  .get-involved-region, .footer-nav-region {
    margin: 0;
    padding: 0;
  }

  .features-region {
    padding: 0;

    .col-md-4 {
      text-align: center;
      padding-right: 15px;
      padding-left: 15px;

      h3 {
        margin-bottom: 5px;
      }
      &.first {
        margin-left: 0;
      }
    }
  }
}

/* Phones */
@media screen and (max-width: 240px) {

  #elevator-pitch {
    font-size: 1.5em;
    line-height: 1.75em;
  }

  .navbar-brand {
    display: block;
    margin-top: 10px 0;

    img {
      width: 21%;
    }
  }
}