:css
	ul {
	    list-style: none;
	}

%p
	- if @resource.profile.first_name.blank?
		Hello:
	-else
		Hello, #{@resource.profile.first_name}:

%p
	A notification for you from MyUSA:

	%ul
		%li
			You changed your email address.
	%ul
		%li
			Your email address is used for your login. It's also how we get in touch with you, so thanks for keeping it up to date!
	%ul
		%li
			If you did not initiate this action, please change your password and/or get in touch with us. 
	%ul
		%li
			Regards,
			%br
			MyUSA
