#shutdown.reveal-modal.medium
  %p
    Due to the government shutdown, information on this website may not be up to date. For information about the government services, visit
    = link_to "http://USA.gov", 'http://usa.gov'
  %hr
  %p
    Debido el cierre del Gobierno la información en este sitio web puede no estar actualizada. Muchos servicios del Gobierno no estarán disponibles durante este cierre.
