.row
  .eight.columns
    %h2
      Thank you for signing up
    %p
      We've sent you an email to verify you're a person and not a robot. Please follow the instructions in the email, and we'll see you back here shortly.